pool:
  vmImage: 'ubuntu-latest'

steps:
  - script: |
      docker pull reactnativecommunity/react-native-android
      docker run --rm --name rn-env reactnativecommunity/react-native-android bash -c "npm i -g envinfo && envinfo"
      docker run --rm --name rn-build -v $PWD:/pwd -w /pwd reactnativecommunity/react-native-android bash -c "yarn install && cd android && chmod +x gradlew && ./gradlew assembleRelease"
